<a href="https://colab.research.google.com/github/shryu8902/KIRD_AUTOML/blob/main/KIRD_Day_1_1_tabular_data_%EB%8B%A4%EB%A3%A8%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0. Python 기초 개념

## 0-1. 객체 지향 프로그래밍

1. 함수(Function): 특정 작업을 수행하는 코드의 블록으로, 재사용이 가능하며 입력을 받아 출력을 반환합니다.

2. 클래스(Class): 객체를 생성하기 위한 템플릿이며, 특정 데이터 타입을 정의하고 이 타입의 인스턴스가 가져야 할 속성과 메서드를 정의합니다.

3. 인스턴스(Instance): 클래스를 기반으로 만들어진 실제 객체로, 클래스가 템플릿이라면 인스턴스는 그 템플릿으로부터 생성된 실제 객체입니다.

4. 메서드(Method): 클래스 내부에 정의된 함수로, 해당 클래스의 인스턴스가 수행할 수 있는 행동을 정의합니다.

5. 어트리뷰트(Attribute): 클래스 또는 클래스의 인스턴스가 가진 변수 및 메서드

In [ ]:
# 1. 변수: 데이터를 저장하는 이름이며, 특정 값을 가리킵니다.
x = 10  # x라는 이름의 변수에 정수 10을 저장합니다.
print(x)

In [ ]:
# 2. 함수: 입력을 받아 처리 후 출력을 반환하는 코드 블록입니다.
def square(n):  # square라는 이름의 함수를 정의합니다. 이 함수는 입력받은 수를 제곱합니다.
    return n * n

y = square(x)  # 함수 square에 변수 x를 전달하고, 그 결과를 변수 y에 저장합니다.
print(y)

NameError: ignored

In [ ]:
# 3. 클래스: 객체를 생성하기 위한 템플릿(또는 설계도)입니다.
class Dog:  # Dog라는 이름의 클래스를 정의합니다.

    def __init__(self, name):  # __init__ 메서드는 클래스의 인스턴스를 생성할 때 호출됩니다.
        self.name = name  # 인스턴스 변수: 각 인스턴스가 독립적으로 가지는 변수입니다.

    # 메서드: 클래스 내부에 정의된 함수입니다. 이 메서드는 Dog 클래스의 인스턴스가 수행할 수 있는 행동을 정의합니다.
    def bark(self):
        return f"{self.name} 가 짖습니다. 왈왈!"

In [ ]:
# 4. 인스턴스: 클래스를 통해 생성된 실제 객체입니다.
my_dog = Dog("멍뭉이")  # Dog 클래스의 인스턴스를 생성하고, 그 인스턴스를 my_dog라는 변수에 저장합니다.

# 5. 어트리뷰트 - 변수 :
print(my_dog.name)

# 6. 어트리뷰트 - 메서드 :
print(my_dog.bark())

## 0-2. Python의 데이터 형식

1. 리스트(List): 순서가 있는 항목들의 모음입니다. 여러 가지 데이터 타입을 포함할 수 있으며, 수정 가능한(mutable) 특성을 가지고 있습니다.

2. 튜플(Tuple): 순서가 있는 항목들의 모음입니다. 리스트와 유사하지만, 변경 불가능한(immutable) 특성을 가지고 있습니다.

3. 딕셔너리(Dictionary): 키와 값의 쌍으로 이루어진 데이터 구조입니다. 특정 키를 사용하여 값을 검색하고 조작할 수 있습니다.

In [ ]:
# 1. List

numbers = [1, 2, 3, 4, 5]
fruits = ["apple", "banana", "cherry"]
mixed = [1, "apple", True]

# 리스트 값에 접근하기
print(numbers[0])  # 출력: 1
print(fruits[1])  # 출력: "banana"
print(mixed[2])  # 출력: True

# 리스트 값 변경하기
fruits[2] = "grape"
print(fruits)  # 출력: ["apple", "banana", "grape"]

# 리스트 길이 확인하기
print(len(numbers))  # 출력: 5

1
banana
True
['apple', 'banana', 'grape']
5

In [ ]:
point = (10, 20)
coordinates = (1.5, 2.5, 3.5)

# 튜플 값에 접근하기
print(point[0])  # 출력: 10
print(coordinates[2])  # 출력: 3.5

# 튜플 길이 확인하기
print(len(coordinates))  # 출력: 3

# 튜플은 변경 불가능하므로 값 변경 시 오류 발생
point[0] = 15  # TypeError: 'tuple' object does not support item assignment

10
3.5
3

TypeError: ignored

In [ ]:
person = {"name": "Alice", "age": 30, "city": "New York"}

# 딕셔너리 값에 접근하기
print(person["name"])  # 출력: "Alice"
print(person["age"])  # 출력: 30

# 딕셔너리 값 변경하기
person["age"] = 35
print(person)  # 출력: {"name": "Alice", "age": 35, "city": "New York"}

# 딕셔너리에 새로운 항목 추가하기
person["gender"] = "Female"
print(person)  # 출력: {"name": "Alice", "age": 35, "city": "New York", "gender": "Female"}

# 딕셔너리의 키와 값 확인하기
print(person.keys())  # 출력: dict_keys(["name", "age", "city", "gender"])
print(person.values())  # 출력: dict_values(["Alice", 35, "New York", "Female"])

Alice
30
{'name': 'Alice', 'age': 35, 'city': 'New York'}
{'name': 'Alice', 'age': 35, 'city': 'New York', 'gender': 'Female'}
dict_keys(['name', 'age', 'city', 'gender'])
dict_values(['Alice', 35, 'New York', 'Female'])

## 0-3. numpy 와 pandas

1. 넘파이 어레이(Numpy Array): 다차원 배열로, 수치 데이터를 다루는 데 효과적입니다.
배열 내의 모든 요소는 동일한 데이터 타입을 가지고 있습니다.

2. 판다스 데이터프레임(Pandas DataFrame): 테이블 형태의 데이터 구조입니다.
열(Column)과 행(Row)으로 구성되며, 데이터 분석과 조작에 편리하게 사용됩니다.

In [ ]:
import numpy as np

array = np.array([1, 2, 3, 4, 5])
matrix = np.array([[1, 2, 3], [4, 5, 6]])

# 어레이의 차원 확인하기
print(array.shape)  # 출력: (5,)
print(matrix.shape)  # 출력: (2, 3)

# 어레이 값에 접근하기
print(array[0])  # 출력: 1
print(matrix[1, 2])  # 출력: 6

# 어레이 값 변경하기
array[2] = 10
print(array)  # 출력: [1, 2, 10, 4, 5]

(5,)
(2, 3)
1
6
[ 1  2 10  4  5]

In [ ]:
import pandas as pd

data = {"Name": ["Alice", "Bob", "Charlie"],
        "Age": [25, 30, 35],
        "City": ["London", "New York", "Paris"]}

df = pd.DataFrame(data)

# 데이터프레임의 열에 접근하기
print(df["Name"])  # 출력: 열 이름(Name)에 해당하는 모든 값
print(df.Age)  # 출력: 열 이름(Age)에 해당하는 모든 값

# 데이터프레임의 행에 접근하기
print(df.loc[1])  # 출력: 인덱스가 1인 행에 해당하는 모든 값

# iloc를 사용하여 특정 위치의 열에 접근하기
print(df.iloc[:, 1])  # 출력: 인덱스가 1인 열에 해당하는 모든 값

# 데이터프레임 값 변경하기
df.at[0, "Age"] = 26
print(df)  # 출력: 변경된 데이터프레임

# 데이터프레임의 크기 확인하기
print(df.shape)  # 출력: (3, 3)

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
0    25
1    30
2    35
Name: Age, dtype: int64
Name         Bob
Age           30
City    New York
Name: 1, dtype: object
0    25
1    30
2    35
Name: Age, dtype: int64
      Name  Age      City
0    Alice   26    London
1      Bob   30  New York
2  Charlie   35     Paris
(3, 3)

# 1. Tabular data 다루기

예제 데이터
- Iris.xlsx : https://raw.githubusercontent.com/shryu8902/KIRD_AUTOML/main/Iris.xlsx
- Iris.csv : https://raw.githubusercontent.com/shryu8902/KIRD_AUTOML/main/Iris.csv
- Water potability.csv : https://raw.githubusercontent.com/shryu8902/KIRD_AUTOML/main/water_potability.csv

In [ ]:
# 기본적인 라이브러리를 불러옵니다.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

!wget https://raw.githubusercontent.com/shryu8902/KIRD_AUTOML/main/Iris.xlsx
!wget https://raw.githubusercontent.com/shryu8902/KIRD_AUTOML/main/Iris.csv
!wget https://raw.githubusercontent.com/shryu8902/KIRD_AUTOML/main/water_potability.csv

--2023-06-20 22:21:33--  https://raw.githubusercontent.com/shryu8902/KIRD_AUTOML/main/Iris.xlsx
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 14700 (14K) [application/octet-stream]
Saving to: ‘Iris.xlsx’

Iris.xlsx           100%[===================>]  14.36K  --.-KB/s    in 0.001s

2023-06-20 22:21:33 (26.3 MB/s) - ‘Iris.xlsx’ saved [14700/14700]

--2023-06-20 22:21:33--  https://raw.githubusercontent.com/shryu8902/KIRD_AUTOML/main/Iris.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5107 (5.0K) [text/plain]
Saving to: ‘Iris.csv’

Iris.csv            100%[===================>]   4.99K  --.-KB/s    in 0s

2023-06-20 22:21:33 (59.6 MB/s) - ‘Iris.csv’ saved [5107/5107]

--2023-06-20 22:21:33--  https://raw.githubusercontent.com/shryu8902/KIRD_AUTOML/main/water_potability.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 344703 (337K) [text/plain]
Saving to: ‘water_potability.csv’

water_potability.cs 100%[===================>] 336.62K  --.-KB/s    in 0.03s

2023-06-20 22:21:34 (10.2 MB/s) - ‘water_potability.csv’ saved [344703/344703]

### 0. 데이터 불러오기
- ```read_excel()```: 엑셀 파일을 읽어와 데이터프레임 객체로 저장하기
- ```read_csv()```: csv 파일을 읽어와 데이터프레임 객체로 저장하기

In [ ]:
df = pd.read_excel('./Iris.xlsx')
df_2 = pd.read_csv('./Iris.csv')

### 1. dataframe 데이터 확인하기
- ```head()```: 데이터프레임의 처음 5개 행 출력.
- ```tail()```: 데이터프레임의 마지막 5개 행 출력.
- ```info()```: 데이터프레임의 요약 정보 출력 (열의 데이터 타입, 누락된 데이터 등).
- ```columns``` : 데이터프레임의 컬럼명 출력.
- ```describe()```: 데이터프레임의 통계량 계산 (평균, 표준편차, 최대, 최소 등).

In [ ]:
print(df.columns) # 데이터프레임의 컬럼명 출력
print(df.head())  # 처음 5개 행 출력
print(df.tail())  # 마지막 5개 행 출력
print(df.info())  # 데이터프레임 요약 정보 출력
print(df.describe()) #데이터프레임의 통계정보 출력

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None
               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
df.SepalLengthCm.plot()

NameError: ignored

### 2. 데이터 선택 (행 선택)

인덱스를 이용한 행 선택
```loc[]```: 인덱스 레이블을 사용하여 행 선택
```iloc[]```: 인덱스 위치를 사용하여 행 선택

In [ ]:
# loc를 사용한 행 선택
df.loc[0]  # 인덱스가 0인 행 선택

Id                         1
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 0, dtype: object

In [ ]:
# iloc를 사용한 행 선택
df.iloc[2]  # 인덱스가 2인 행 선택

Id                         3
SepalLengthCm            4.7
SepalWidthCm             3.2
PetalLengthCm            1.3
PetalWidthCm             0.2
Species          Iris-setosa
Name: 2, dtype: object

In [ ]:
# 여러행 선택하기
df.loc[[0,1,2]]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [ ]:
# Boolean indexing
df[df.Species == "Iris-setosa"]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa
20  21            5.4           3.4            1.7           0.2  Iris-setosa
21  22            5.1           3.7            1.5           0.4  Iris-setosa
22  23            4.6           3.6            1.0           0.2  Iris-setosa
23  24            5.1           3.3            1.7           0.5  Iris-setosa
24  25            4.8           3.4            1.9           0.2  Iris-setosa
25  26            5.0           3.0            1.6           0.2  Iris-setosa
26  27            5.0           3.4            1.6           0.4  Iris-setosa
27  28            5.2           3.5            1.5           0.2  Iris-setosa
28  29            5.2           3.4            1.4           0.2  Iris-setosa
29  30            4.7           3.2            1.6           0.2  Iris-setosa
30  31            4.8           3.1            1.6           0.2  Iris-setosa
31  32            5.4           3.4            1.5           0.4  Iris-setosa
32  33            5.2           4.1            1.5           0.1  Iris-setosa
33  34            5.5           4.2            1.4           0.2  Iris-setosa
34  35            4.9           3.1            1.5           0.1  Iris-setosa
35  36            5.0           3.2            1.2           0.2  Iris-setosa
36  37            5.5           3.5            1.3           0.2  Iris-setosa
37  38            4.9           3.1            1.5           0.1  Iris-setosa
38  39            4.4           3.0            1.3           0.2  Iris-setosa
39  40            5.1           3.4            1.5           0.2  Iris-setosa
40  41            5.0           3.5            1.3           0.3  Iris-setosa
41  42            4.5           2.3            1.3           0.3  Iris-setosa
42  43            4.4           3.2            1.3           0.2  Iris-setosa
43  44            5.0           3.5            1.6           0.6  Iris-setosa
44  45            5.1           3.8            1.9           0.4  Iris-setosa
45  46            4.8           3.0            1.4           0.3  Iris-setosa
46  47            5.1           3.8            1.6           0.2  Iris-setosa
47  48            4.6           3.2            1.4           0.2  Iris-setosa
48  49            5.3           3.7            1.5           0.2  Iris-setosa
49  50            5.0           3.3            1.4           0.2  Iris-setosa

In [ ]:
#Boolean indexing
df[df.Id.isin([1,2,3])]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

## 데이터 전처리

데이터 전처리 단계에서 이상치 및 누락값에 대한 처리를 수행할 수 있습니다.
데이터 내에서 이상치와 누락값을 찾는 단계와 이를 처리하는 단계로 구분 할 수 있습니다.
이상치 또는 누락값을 처리하는 방법은 크게 두가지로 구분 할 수 있습니다.
1. 이상치 및 누락값이 존재하는 데이터는 제외하고 활용하는 방법
2. 이상치 및 누락값을 다른 값으로 대체하여 사용하는 방법

### 표 데이터 전처리 (이상치 처리)

이상치를 처리하기 전에 먼저 이상치를 탐지하는 과정이 필요합니다.
이상치를 탐지하는 다양한 방법이 있지만, 가장 일반적으로 사용되는 방법 중 하나는 통계적 기법인 Z-score 또는 IQR(Interquartile Range)를 활용하는 방법입니다.
Z-score는 데이터의 평균과 분산을 0과 1로 만들어 주고, 특정 treshold 이상인 값을 이상치로 판정합니다 (e.g., 3).

In [ ]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
# 이상치를 갖는 열 선택 (예: 'column_name')
# SepalLengthCM으로 가정
outlier_column = df['SepalLengthCm']

# Z-score 계산
z_scores = (outlier_column - outlier_column.mean()) / outlier_column.std()

# Z-score 기준값 설정 (예: 3)
threshold = 3

# Z-score가 임계값을 넘는 데이터 포인트를 이상치로 처리
outlier_indexes = np.where(np.abs(z_scores) > threshold)

In [ ]:
z_scores

0     -0.897674
1     -1.139200
2     -1.380727
3     -1.501490
4     -1.018437
         ...
145    1.034539
146    0.551486
147    0.793012
148    0.430722
149    0.068433
Name: SepalLengthCm, Length: 150, dtype: float64

### random index를 통한 트레이닝, 테스트 셋 분리

In [ ]:
# 전체 데이터셋의 길이
num_rows = len(df)

# 트레이닝 세트와 테스트 세트 비율 설정
train_ratio = 0.8  # 트레이닝 세트 비율
test_ratio = 0.2  # 테스트 세트 비율

# 트레이닝 세트와 테스트 세트에 해당하는 인덱스 생성
train_size = int(num_rows * train_ratio)
train_indices = np.random.choice(num_rows, train_size, replace=False) # replace : 값을 중복해서 추출할지에 대한 값
test_indices = np.setdiff1d(np.arange(num_rows), train_indices)
print(len(train_indices))
print(len(test_indices))

# 분리된 데이터프레임 생성
train_df = df.iloc[train_indices]
test_df = df.iloc[test_indices]

# 분리된 데이터프레임 확인
print("Training set:")
print(train_df.head())

print("\nTest set:")
print(test_df.head())

### Scikit Learn을 활용한 트레이닝, 테스트 셋 분리

```train_test_split``` : 데이터를 트레이닝 셋과 테스트 셋으로 무작위 분할.
- Dataframe이나 array를 입력으로 받을 수 있음.
- test_size : 테스트 셋의 비율 또는 숫자
- random_state : 재현을 위한 랜덤 시드 지정
- shuffle : 입력된 데이터셋을 분할시 샘플 순서를 섞을지 여부. False인 경우 순서대로 트레이닝셋/테스트셋을 분리함.
- stratify : 클래스가 불균형한 데이터셋 안에서 데이터 분할 시 클래스간 비율을 유지하기 위한 옵션.

In [ ]:
from sklearn.model_selection import train_test_split

train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)

print(len(train_df))
print(len(test_df))

print(train_df.index[:5])
print(test_df.index[:5])

print(train_df.groupby('Species').size())
print(test_df.groupby('Species').size())

In [ ]:
train_df.groupby('Species').size()

In [ ]:
# shuffle False 인 경우
train_df, test_df = train_test_split(df, test_size = 0.2, shuffle = False)
print(train_df.index[:5])
print(test_df.index[:5])

In [ ]:
# stratify = Species 인 경우
train_df, test_df = train_test_split(df, test_size = 0.2, stratify=df.Species)

print(train_df.groupby('Species').size())
print(test_df.groupby('Species').size())

### K-fold cross validation
- 데이터셋을 K개의 그룹으로 나누고 각 그룹에 대한 index를 1,2,3,...,k로 가정.
- 첫번째는 1번 그룹을 테스트, 나머지 2~k 그룹을 트레이닝으로 활용
- 두번째는 2번 그룹을 테스트, 나머지 1, 3~k 그룹을 트레이닝으로 활용
- 모든 k 그룹에 대해 이러한 과정을 반복.
- 극단적인 경우 (k=전체 데이터셋의 수)는 Leave one out cross validation.

한번의 split으로 끝나지 않기때문에 KFold 클래스를 활용한 반복문이 필요함.
```KFold.split()```: 분할을 위한 인덱스를 제공.

In [ ]:
from sklearn.model_selection import KFold

k = 5

# KFold를 위한 인스턴스 생성
kf = KFold(n_splits=k, shuffle=False)

# 각 폴드에 대해서 반복
for train_index, val_index in kf.split(df):
    print('training', train_index[:5], 'validation', val_index[:5] )
    print('len train', len(train_index), 'len val', len(val_index))
    # train_df = df[train_index]
    # val_df = df[val_index]